<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.android.teamtask">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">


        <activity android:name="com.android.teamtask.task.main.TaskActivity"/>


        <activity android:name=".task.publish.PublishActivity"/>
    </application>

</manifest>
