<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.android.team">
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:name=".debug.TeamApplication"
        android:theme="@style/AppTheme"
        android:supportsRtl="true">

        <activity android:name=".team.main.TeamDetailActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
